body {
    background-image: url('Images/background.jpg');
    background-blend-mode: darken;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
}

h1{
    padding-top: 50px;
    font-size: 35px;
    text-align: center;
    color: white;
}

h4{
    padding-top: 15px;
    font-size: 35px;
    text-align: center;
    color: white;
}

p{
    font-size: 35px;
    text-align: center;
    color: white;
}

.nav {
    height: 120px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding-left: 20px;
    padding-right: 50px;
}

.films {
    background-color: rgb(240, 240, 240);
    border-radius: 15px 15px 15px 15px ;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 400px;
    color: black ;
}

.accueil{
    background-color: rgb(240, 240, 240);
    border-radius: 15px 15px 15px 15px ;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 25px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    color: black ;
}